html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ALS Schlange sans', 'Muller', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../public/fonts/ALSSchlangesans-Bold.eot');
  src: local('ALS Schlange sans Bold'), local('ALSSchlangesans-Bold'),
  url('../public/fonts/ALSSchlangesans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/ALSSchlangesans-Bold.woff2') format('woff2'),
  url('../public/fonts/ALSSchlangesans-Bold.woff') format('woff'),
  url('../public/fonts/ALSSchlangesans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../public/fonts/ALSSchlangesans-Black.eot');
  src: local('ALS Schlange sans Black'), local('ALSSchlangesans-Black'),
  url('../public/fonts/ALSSchlangesans-Black.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/ALSSchlangesans-Black.woff2') format('woff2'),
  url('../public/fonts/ALSSchlangesans-Black.woff') format('woff'),
  url('../public/fonts/ALSSchlangesans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../public/fonts/ALSSchlangesans-Light.eot');
  src: local('ALS Schlange sans Light'), local('ALSSchlangesans-Light'),
  url('../public/fonts/ALSSchlangesans-Light.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/ALSSchlangesans-Light.woff2') format('woff2'),
  url('../public/fonts/ALSSchlangesans-Light.woff') format('woff'),
  url('../public/fonts/ALSSchlangesans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../public/fonts/ALSSchlangesans-Thin.eot');
  src: local('ALS Schlange sans Thin'), local('ALSSchlangesans-Thin'),
  url('../public/fonts/ALSSchlangesans-Thin.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/ALSSchlangesans-Thin.woff2') format('woff2'),
  url('../public/fonts/ALSSchlangesans-Thin.woff') format('woff'),
  url('../public/fonts/ALSSchlangesans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../public/fonts/ALSSchlangesans.eot');
  src: local('ALS Schlange sans'), local('ALSSchlangesans'),
  url('../public/fonts/ALSSchlangesans.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/ALSSchlangesans.woff2') format('woff2'),
  url('../public/fonts/ALSSchlangesans.woff') format('woff'),
  url('../public/fonts/ALSSchlangesans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerUltraLight.eot');
  src: local('Muller UltraLight'), local('MullerUltraLight'),
  url('../public/fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerUltraLight.woff2') format('woff2'),
  url('../public/fonts/MullerUltraLight.woff') format('woff'),
  url('../public/fonts/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerBoldItalic.eot');
  src: local('Muller Bold Italic'), local('MullerBoldItalic'),
  url('../public/fonts/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerBoldItalic.woff2') format('woff2'),
  url('../public/fonts/MullerBoldItalic.woff') format('woff'),
  url('../public/fonts/MullerBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
  url('../public/fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerMedium.woff2') format('woff2'),
  url('../public/fonts/MullerMedium.woff') format('woff'),
  url('../public/fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerExtraBoldItalic.eot');
  src: local('Muller ExtraBold Italic'), local('MullerExtraBoldItalic'),
  url('../public/fonts/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerExtraBoldItalic.woff2') format('woff2'),
  url('../public/fonts/MullerExtraBoldItalic.woff') format('woff'),
  url('../public/fonts/MullerExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerUltraLightItalic.eot');
  src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic'),
  url('../public/fonts/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerUltraLightItalic.woff2') format('woff2'),
  url('../public/fonts/MullerUltraLightItalic.woff') format('woff'),
  url('../public/fonts/MullerUltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
  url('../public/fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerRegular.woff2') format('woff2'),
  url('../public/fonts/MullerRegular.woff') format('woff'),
  url('../public/fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerBlackItalic.eot');
  src: local('Muller Black Italic'), local('MullerBlackItalic'),
  url('../public/fonts/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerBlackItalic.woff2') format('woff2'),
  url('../public/fonts/MullerBlackItalic.woff') format('woff'),
  url('../public/fonts/MullerBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('../public/fonts/MullerHairlineItalic.eot');
  src: local('Muller Hairline Italic'), local('MullerHairlineItalic'),
  url('../public/fonts/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerHairlineItalic.woff2') format('woff2'),
  url('../public/fonts/MullerHairlineItalic.woff') format('woff'),
  url('../public/fonts/MullerHairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerHeavyItalic.eot');
  src: local('Muller Heavy Italic'), local('MullerHeavyItalic'),
  url('../public/fonts/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerHeavyItalic.woff2') format('woff2'),
  url('../public/fonts/MullerHeavyItalic.woff') format('woff'),
  url('../public/fonts/MullerHeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerThinItalic.eot');
  src: local('Muller Thin Italic'), local('MullerThinItalic'),
  url('../public/fonts/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerThinItalic.woff2') format('woff2'),
  url('../public/fonts/MullerThinItalic.woff') format('woff'),
  url('../public/fonts/MullerThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('../public/fonts/MullerHairline.eot');
  src: local('Muller Hairline'), local('MullerHairline'),
  url('../public/fonts/MullerHairline.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerHairline.woff2') format('woff2'),
  url('../public/fonts/MullerHairline.woff') format('woff'),
  url('../public/fonts/MullerHairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerHeavy.eot');
  src: local('Muller Heavy'), local('MullerHeavy'),
  url('../public/fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerHeavy.woff2') format('woff2'),
  url('../public/fonts/MullerHeavy.woff') format('woff'),
  url('../public/fonts/MullerHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
  url('../public/fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerThin.woff2') format('woff2'),
  url('../public/fonts/MullerThin.woff') format('woff'),
  url('../public/fonts/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerLightItalic.eot');
  src: local('Muller Light Italic'), local('MullerLightItalic'),
  url('../public/fonts/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerLightItalic.woff2') format('woff2'),
  url('../public/fonts/MullerLightItalic.woff') format('woff'),
  url('../public/fonts/MullerLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
  url('../public/fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerLight.woff2') format('woff2'),
  url('../public/fonts/MullerLight.woff') format('woff'),
  url('../public/fonts/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
  url('../public/fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerBlack.woff2') format('woff2'),
  url('../public/fonts/MullerBlack.woff') format('woff'),
  url('../public/fonts/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
  url('../public/fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerBold.woff2') format('woff2'),
  url('../public/fonts/MullerBold.woff') format('woff'),
  url('../public/fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
  url('../public/fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerExtraBold.woff2') format('woff2'),
  url('../public/fonts/MullerExtraBold.woff') format('woff'),
  url('../public/fonts/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('../public/fonts/MullerRegularItalic.eot');
  src: local('Muller Regular Italic'), local('MullerRegularItalic'),
  url('../public/fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerRegularItalic.woff2') format('woff2'),
  url('../public/fonts/MullerRegularItalic.woff') format('woff'),
  url('../public/fonts/MullerRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/MullerMediumItalic.eot');
  src: local('Muller Medium Italic'), local('MullerMediumItalic'),
  url('../public/fonts/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/MullerMediumItalic.woff2') format('woff2'),
  url('../public/fonts/MullerMediumItalic.woff') format('woff'),
  url('../public/fonts/MullerMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

